html, body {
    overflow: hidden;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
#canvas1{
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url("background.png") no-repeat center center;
    background-size: cover;
}
#ss_lvl1, #player, #playerjets{
    display: none;
}
body{
    background-color: black;
}
#instructions{
    margin-left: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 20px;
        border-radius: 10px;
        z-index: 10;
        text-align: center;
        display: none; /* Initially hidden */
}
